
.top-title-deposit .css-75hdlf{
    margin: 0 0;
    height: 70vh;
    overflow: auto;

}

.css-1833z54, .css-wpekbs {
    height: 70vh;
    overflow: auto;
}
.MuiDataGrid-toolbarContainer{
    display: flex;
    width: 50%;
}